{%  extends 'base.html' %}

{% block title %}Password change Successfully {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Password change Successfully</div>

                <div class="panel-body">
                    <p>Your password has been changed successfully.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}